* {
    font-family: Arial, sans-serif;
}

body {
    background-color: #f3f4f7;
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content a {
    font-size: 26px;
    color: #007bff;
    text-decoration: dotted underline;
    background-color: #cfcfcf;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.news {
    margin-top: 40px;
    padding: 20px;
    background-color: #cfcfcf;
    border-radius: 5px;
}
