* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
        ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
        sans-serif;
    font-size: 16px;
}

body {
    background-color: #435165;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

.login form input[type="password"],
.login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:focus {
    outline: none;
}

.login form input[type="submit"]:active {
    background-color: #1f5aa6;
    transition: background-color 0.2s;
}

.login form input[type="text"]:focus,
.login form input[type="password"]:focus {
    outline: none;
    border-color: #3274d6;
    box-shadow: 0 0 5px #3274d6;
}

.login form input[type="text"]::placeholder,
.login form input[type="password"]::placeholder {
    color: #a9a9a9;
}

.login form input[type="text"]:hover,
.login form input[type="password"]:hover {
    border-color: #3274d6;
}

.login form input[type="text"]:invalid,
.login form input[type="password"]:invalid {
    border-color: #3274d6;
}

.login form input[type="text"]:valid,
.login form input[type="password"]:valid {
    border-color: #3274d6;
}
