* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
        ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
        sans-serif;
    font-size: 16px;
}

body {
    background-color: #435165;
    margin: 0;
    font-family: Arial, sans-serif;
}

.register {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.register form {
    padding-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group label {
    flex: 0 0 40px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-group input,
.input-group select {
    flex: 1;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.input-group input[type="date"] {
    padding: 8px 10px;
}

.register input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.form-group input[type="submit"]:hover {
    background-color: #285f8f;
}

.register form input:focus {
    outline: none;
    border-color: #3274d6;
    box-shadow: 0 0 5px #3274d6;
}

.register form input:placeholder {
    color: #a9a9a9;
}

.register form input:invalid {
    border-color: #3274d6;
}

.register form input:valid {
    border-color: #3274d6;
}

.register form select:focus {
    outline: none;
    border-color: #3274d6;
    box-shadow: 0 0 5px #3274d6;
}

.register form select:placeholder {
    color: #a9a9a9;
}

.register form select:hover {
    border-color: #3274d6;
}

.register form select:invalid {
    border-color: #3274d6;
}

.register form select:valid {
    border-color: #3274d6;
}
